.rates-card {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	padding: 4px;
	align-items: center;
	background-color: var(--nav-link-active);
	border-radius: 20px;
}

.rates-card__info {
	max-width: 333px;
	padding-left: 26px;
}

.rates-card__title {
	font-size: 2.6rem;
	margin: 0 0 16px;
}

.rates-card__subtitle {
	font-size: 2rem;
	margin: 0 0 12px;
}

.rates-card__text {
	font-size: 1.6rem;
	line-height: 1.2;
	margin: 0;
}

.rates-card__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0;
}

.rates-card__value {
	font-weight: 600;
}

.rates-card__images {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.rates-card__cover {
	border-radius: 16px;
	object-fit: cover;
	max-width: 358px;
	min-width: 220px;
	width: 100%;
	&--top {
		height: 248px;
	}
	&--bottom {
		height: 132px;
	}
}

@media screen and (max-width: 1250px) {
	.rates-card {
		width: fit-content;
	}
}

@media screen and (max-width: 780px) {
	.rates-card {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.rates-card__info {
		padding: 10px 16px;
		padding-bottom: 0;
	}

	.rates-card__images {
		width: 100%;
	}

	.rates-card__cover {
		max-width: none;
	}

	.rates-card__cover--top {
		height: 132px;
	}
}
