.auth-form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 360px;
}

.auth-form__title {
	font-size: 2.4rem;
	margin: 0 0 16px;
}

.auth-form__field {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.auth-form__label {
	font-size: 1.6rem;
}

.auth-form__input {
	font-size: 1.6rem;
	border: 1px solid #cccccc;
	color: black;
	font-family: inherit;
	background-color: white;
	border-radius: 12px;
	padding: 12px 15px;
}

.auth-form__action {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
	margin-top: 8px;
	text-align: center;
}

.auth-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;
}

.auth-detail__text,
.auth-form__privacy {
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
	line-height: 1.3;
}

.auth-detail__button,
.auth-form__privacy-button {
	cursor: pointer;
	border: none;
	background: none;
	font-size: 1.4rem;
	color: rgb(45, 77, 240);
	transition: all 200ms ease-in-out;
	&:hover {
		color: rgb(14, 48, 181);
	}
}

.auth-form__error {
	font-size: 1.4rem;
	margin: 0;
	color: rgb(229, 5, 5);
}

.auth-form__privacy-button {
	margin: 0;
	padding: 0;
}
