.rubric {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rubric__text {
    font-size: 1.8rem;
    line-height: 1.2;
    color: var(--accent);
    font-weight: 500;
    margin: 0 0 1px;
}