.perspectives-card {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	padding: 4px;
	align-items: center;
	background-color: var(--nav-link-active);
	border-radius: 20px;
}

.perspectives-card__info {
	max-width: 333px;
	min-width: 300px;
	width: 100%;
	padding: 20px 0 20px 26px;
}

.perspectives-card__title {
	font-size: 2.6rem;
	margin: 0 0 24px;
}

.perspectives-card__text {
	font-size: 1.6rem;
	line-height: 1.2;
	margin: 0;
}

.perspectives-card__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0;
}

.perspectives-card__item {
	display: flex;
	gap: 16px;
}

.perspectives-card__cover {
	max-width: 358px;
	min-width: 220px;
	border-radius: 16px;
	object-fit: cover;
	min-height: 384px;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1250px) {
	.perspectives-card {
		width: fit-content;
	}
}

@media screen and (max-width: 780px) {
	.perspectives-card {
		display: flex;
		flex-direction: column;
	}

	.perspectives-card {
		gap: 10px;
	}

	.perspectives-card__info {
		padding: 10px 16px 0 16px;
		min-width: 140px;
		width: auto;
	}

	.perspectives-card__cover {
		max-height: 268px;
		min-height: auto;
	}
}
