:root {
  font-family: Helvetica, Inter, system-ui, Arial, Avenir, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  --accent: #FF4D00;
  --dark: #2C2C2F;
  --nav-link: #EAEAEACC;
  --nav-link-active: #EAEAEA;
  --nav-bg: #0D0D0DCC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
