:root {
  font-family: Inter, system-ui, Arial, Avenir, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  --accent: #FF4D00;
  --green: #02362D;
  --accent-hover: #542322;
  --dark: #2C2C2F;
  --nav-link: #EAEAEACC;
  --nav-link-active: #EAEAEA;
  --nav-bg: #0D0D0DCC;
  --gray: #7B7B7B;
  --gray-btn24:#7B7B7B3D;
  --gray-btn40:#7B7B7B66;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (color: color(display-p3 0.9237 0.3588 0.164)) {
  :root {
    --accent: color(display-p3 0.9237 0.3588 0.164);
    --green: color(display-p3 0.0781 0.2078 0.1773);
    --accent-hover: color(display-p3 0.3044 0.1484 0.1397);
    --dark: color(display-p3 0.1723 0.1723 0.1823);
    --nav-link: color(display-p3 0.9189 0.9189 0.9189 / 0.8);
    --nav-link-active: color(display-p3 0.9189 0.9189 0.9189);
    --nav-bg: color(display-p3 0.0509 0.0509 0.0509 / 0.8);
    --gray: color(display-p3 0.4825 0.4825 0.4825);
    --gray-btn24:color(display-p3 0.4825 0.4825 0.4825 / 0.24);
    --gray-btn40:color(display-p3 0.4825 0.4825 0.4825 / 0.40);
  }
}

::selection {
  background: #FF4D0066;
}

html {
  font-size: 62.5%;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 680px) {
  html {
    font-size: 44%;
  }
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
